body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
div,
tr,
td,
table {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul,
ol {
  list-style: none;
}

html,
body {
  width: 100%;
  height: 100%;
}
